# LaTeX files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.brf
*.nav
*.snm
*.vrb

*.pdf
!notes/2024-2025/computing_science/data_fundamentals/fact_sheets/*.pdf
!notes/2024-2025/computing_science/programming_langauges/Jack_PL_Revision_Notes*.pdf